html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'silka medium';
  src: url(./fonts/Silka\ Medium.otf);
}

p{
  font-family: silka medium;
  font-size: 13px;
}